* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f4f4f4;
}

main {
  width: 100%;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-bottom: 2rem;
}

/* Navigation */
header {
  background-color: #333;
  color: #fff;
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin-left: 1rem;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

nav ul li a.active {
  font-weight: bold;
}

/* Home page */
.container {
  flex: 1;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.home-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.filters {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#search,
#genre-filter {
  padding: 0.5rem;
  font-size: 1rem;
}

#search {
  flex-grow: 1;
  margin-right: 1rem;
}

#books-container,
#wishlist-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
}

.book-card {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  transition: transform 0.3s ease;
  height: 400px;
}

.book-card:hover {
  transform: translateY(-5px);
}

.book-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 0.5rem;
}

.book-card h3 {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  color: #333;
  display: -webkit-box; /* Required for limiting lines */
  -webkit-box-orient: vertical; /* Required for limiting lines */
  -webkit-line-clamp: 2; /* Limits the text to 2 lines */
  overflow: hidden; /* Ensures the overflow is hidden */
  text-overflow: ellipsis; /* Adds ellipsis (...) for overflowed text */
  max-width: 100%;
}

.book-card p {
  font-size: 0.9rem;
  color: #666;
}

.wishlist-toggle {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  transition: color 0.3s ease;
}

.wishlist-toggle:hover {
  color: #ff4136;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.pagination button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pagination button:hover {
  background-color: #555;
}

#page-numbers {
  display: flex;
}

#page-numbers button {
  background-color: transparent;
  color: #333;
  border: 1px solid #333;
}

#page-numbers button.active {
  background-color: #333;
  color: #fff;
}

#book-details {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 2rem;
}

#back-to-list {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#back-to-list:hover {
  background-color: #555;
}

.skeleton-card {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  transition: transform 0.3s ease;
  height: 300px;
}

.skeleton {
  background-color: #f0f0f0;
  border-radius: 5px;
  padding: 1rem;
  margin-bottom: 1rem;
  animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: #f0f0f0;
  }
  100% {
    background-color: #f5f5f5;
  }
}

@media (max-width: 768px) {
  .filters {
    flex-direction: column;
  }

  #search,
  #genre-filter {
    width: 100%;
    margin-bottom: 1rem;
  }

  #books-container,
  #wishlist-container {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
}
